<!DOCTYPE html>
<html>
  <head>
    <title>Sistema para el evento Campeonato de Robótica UVM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="https://i.ibb.co/kXMPtKN/Screenshot-1.png" type="png" size=20px>
    </head>
  <body>
    
    <img src="https://i.ibb.co/6Nc4Y19/Screenshot-2.png"></img>
    <h1>Sistema para el evento Campeonato de Robótica UVM</h1>
    
    <h1>Integrantes:</h1>
    <p>- Cristhofer Solarte C.I 30.959.561</p>
    <p>- Veronica Parra C.I 30.600.365</p>
  </body>
</html>